@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CENTRO CLINICO </h1>
    <p class="lead">Somos un grupo de Profesionales de la Salud altamente calificados, que presta servicios médicos integrales, en una sola ubicación para facilitar la atención a nuestros pacientes.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <center>
            <img src="~/img/hospital-background-design_1300-102.jpg" width="60%" height="60%" />
        </center>
        <h2>QUIENES SOMOS?</h2>
        <p>
            Somos un grupo de Profesionales de la salud altamente calificados, que presta servicios médicos integrales, en una sola ubicación para facilitar la atención a nuestros pacientes.

        </p>
       
    </div>
    <div class="col-md-4">
        <center>
            <img src="~/img/medical-29_icon-icons.com_73943.png" width="60%" height="60%" />
        </center>
        
        <h2>MISION</h2>
        <p>
            Prestar servicios de salud de calidad con gran sentido humano para que nuestros pacientes recuperen su salud.
        </p>
    </div>

    <div class="col-md-4">
        <center>
            <img src="~/img/emergency_call_center-512.png" width="60%" height="60%" />
        </center>
        <h2>VALORES</h2>
        <p>Ser los líderes en ofrecer servicios de salud con más de 40 especialidades en un mismo lugar, ofreciendo amplio parqueo con vigilancia las 24 horas y amplias instalaciones con facilidades a pacientes con necesidades especiales.</p>
        <p></p>
    </div>
    </div>
